/config.status
/configure
/autom4te.cache
/config.guess
/config.log
/config.sub
/aclocal.m4
/compile
/missing
/libtool
/Makefile
/depcomp
/ltmain.sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/Makefile.in
/install-sh
/nbproject/private
/po/Makefile.in.in
/po/Makefile.in
/po/POTFILES
/po/Makefile
/src/kslift
/src/config.h.in
/src/config.h
/po/stamp-it
/src/Makefile
/src/stamp-h1
/src/Makefile.in